Comments!

<ul>
{{#each}}
  <li>
      {{ message }}
      <small>- {{ user.first_name }} {{ user.last_name }}</small>
  </li>
{{/each}}
</ul>

<button {{action "loadMoreComments" }}>Load More Comments</button>